body {
    margin: 0px;
    padding: 0px;
    font-family: 'Quicksand', Arial, sans-serif;
    animation: slideToLeft 0.5s ease-in-out;
    background-color: #fffbe6;
}

@keyframes slideToLeft {
    from {
        transform: translateX(100%); /* Start off-screen to the right */
        opacity: 0; /* Start invisible */
    }
    to {
        transform: translateX(0); /* End at the original position */
        opacity: 1; /* Fully visible */
    }
}

.cartheader {
    background-color: #d0b273;
    margin: 0px;
    display: flex;
}
.cartheader h1 {
    flex-grow: 1;
    text-align: center;
    padding: 16px;
    font-size: 30px;
    margin: 0;
}

.cartcontent h1 i {
    margin-left: 10px;
    margin-top: 4px;
}
.cart-container {
    padding: 10px;
}

.cart-container h2 {
    text-align:  center;
}
.order-item {
    background-color: #fffbe6;
    border: 2px solid #d0b273;
    padding: 5px 10px;
    margin: 10px auto;
    border-radius: 10px;
    width: 90%;
    max-width: 700px;
}
.total-price {
    font-weight: bold;
    text-align: left;
    font-size: 18px;
    margin: 5px auto;
    max-width: 700px;
    
}

.modal {
    display: none; /* Hidden by default */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    z-index: 2000; /* Higher z-index to bring it in front of other elements */
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 300px;
    z-index: 2001; /* Ensure the modal content is above the modal background */
}

.modal-actions {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
}

.modal-btn {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.modal-btn.confirm {
    background-color: #28a745;
    color: #fff;
}

.modal-btn.cancel {
    background-color: #dc3545;
    color: #fff;
}

.confirm-order-btn {
    background-color: #28a745;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
    width: 100%;
    max-width: 700px;
    margin-bottom: 10px;
}
.confirm-order {
    text-align: center;
    
}

.confirm-order-btn:hover {
    background-color: #218838;
    
}

.delete-item-btn {
    background-color: red;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    
}
.delete-all-btn {
    background-color: red;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
    margin-bottom: 30px;
    width: 100%;
    max-width: 700px;
}
.cart-actions {
    text-align: center;
    margin-top: 20px;
}

.back {
    background-color: #d0b273;
    border: none;
    font-size: 26px;
}
.back:hover, .logout:hover {
    background-color: rgb(157, 155, 155);
}